* {
    padding: 0;
    margin: 0;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .converter-conteiner {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  input, select {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  button {
    margin-top: .5rem;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .hidden {
    display: none;
  }
  
  #result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(224, 225, 227);
    padding: .5rem;
    border-radius: 15px;
  }
  
  #amount {
    padding-left: 0;
    padding-right: 0;
  }

  